:root
{
   
    --blanco: #ffffff;
    --azul: #317ae7; 
    --azulf: #0947a3;
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;
    --fondo:#DFE9F3;

}

html
{
    font-size: 62.5%;
    box-sizing: border-box;
    
}

*,*:before,*:after
{
    box-sizing: inherit;
}
body
{
    font-size: 16px;/*1 rem es igual a 10 px*/
    font-family: 'krub',sant-serif;
    background-image:linear-gradient(var(--fondo),var(--blanco));
    
}

span
{
    font-weight: bold;
    font-size: 2.5rem;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20rem;
    background-color: violet;
    overflow: hidden;
    position: relative;
    
}

.temporal{
    position: absolute;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#89e2e5+0,b4e589+23,ce3908+53,7c64a8+100&0.23+0,0.41+100 */
background: -moz-linear-gradient(45deg,  rgba(137,226,229,0.23) 0%, rgba(180,229,137,0.27) 23%, rgba(206,57,8,0.32) 53%, rgba(124,100,168,0.41) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(137,226,229,0.23) 0%,rgba(180,229,137,0.27) 23%,rgba(206,57,8,0.32) 53%,rgba(124,100,168,0.41) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(137, 215, 229, 0.23) 0%,rgba(180,229,137,0.27) 23%,rgba(206,57,8,0.32) 53%,rgba(124,100,168,0.41) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b89e2e5', endColorstr='#697c64a8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    width: 100%;
    height: 100%;
}

.principal{
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    
}
video
{
    width: 100%;
    height: 100%;
}
.navegacion
{   
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    
   
}


@media (min-width: 768px) {
    .navegacion
    {
        flex-direction: row;
    }
  }

.navegacion a
{
    text-decoration:none;
    padding: 1.5rem;
    color:var(--blanco);
    text-align:center;
}

.navegacion a:hover
{
    background-color: var(--primario);
    text-decoration: none;
    
}
.auxiliar
{
    
    background-image: url(../img/fondo.jpg);
    
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:inherit;
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 32rem;
    margin-bottom: 1rem;
    
    
    
}
.aux
{  
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;  
    align-items:center;  
    justify-content:center;

}
.aux h2
{
    color:var(--blanco)


}

.auxiliarCero
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    
}
.nuevoaux
{
    display: flex;
    flex-direction: column;
    
}
.nuevoaux p
{
    color: transparent;
    
}

.nuevoaux .espacio
{
    color: var(--blanco);
}
.auxiliar button
{
    background-color: var(--secundario);  
    color: var(--blanco);
    padding: 0.5rem 2rem;  
    border-radius: 0.5rem ;
    border: 0.1rem;
    font-weight: bolder;
    font-size: 1.5rem;
    justify-content: center;
}

.main
{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, .2), 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius:1rem;    
    background-color: var(--blanco);
    margin-bottom: 2rem;
}
.login
{
    display: flex;
    flex-direction: row;
}

.fotorama
{
   
    
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:inherit;
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 32rem;
    
    margin-bottom: 1rem;
}
footer
{
    background-color: var(--oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blanco);
}
