html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*::before,*:after{
    box-sizing: inherit;
}
.footer{
    margin-top: 2rem;
    background-color: black;
    height: 15rem;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: column;
}