:root
{
    --blanco:#ffffff;
    --oscuro:#4c4c4a;;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#5f727f;
    --fondo:#DFE9F3;
    --aluminio:#a5a5a5;
}
html
{
    font-size: 62.5%;
    box-sizing: border-box;
    
}
*,*:before,*:after
{
    box-sizing: inherit;
}
body
{
    height: 100%;
    font-size: 16px;/*1 rem es igual a 10 px*/   
    font-family: Arial, sans-serif;    
    background-image:linear-gradient( var(--blanco), rgba(68, 109, 65, 1)); 
}
span
{
    font-weight: bold;
    font-size: 2.5rem;
}
header
{
    width: 100%;
    background: white;
    height: 16rem;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    margin-bottom: 1rem;
    
    background-image: linear-gradient(to  right, white 72%, rgba(68, 109, 65, 1) );
       
}
.divcel
{
    display: flex;
    flex-direction: row;
}
.icono
{
    margin-right: 2rem;
}
.icono img
{
    width: 6rem;    
    padding: .2rem;  
    border-radius: .2rem;  
}
.icono img:hover
{
    cursor: pointer;
    border: grey solid .3rem;
    transition: all 0.2s;
    
}
nav
{
    position: absolute;
    align-items: center;
    top: 16rem;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0,0.5);
    display: flex;
    flex-direction: column;   
    transform: translateX(-100%);
    transition: all 0.5s;    
}
#btn-menu:checked ~ nav
{
 transform: translateX(0%);
}
#btn-menu
{
    display: none;
}
nav a
{ 
    text-decoration: none;
    direction: none;
    color: var(--blanco);
    padding: 1rem;
    font-size: 2rem;  
    text-align: center; 
    width: 100%;    
}
nav a:hover
{
    background: rgba(202, 26, 26, 0.356) ;    
    transition: all 0.2s;
    
}
li
{
    display: flex;
    justify-content: center;  
    align-items: center;  
    width: 12rem;
    list-style: none;
    position: relative;
    flex-direction: column;    
}
ul
{
    display: none; 
    width: 100%;
    
}
ul li 
{    
    width: 100%;
    left: -1.5rem;
    text-align: center;

}

li:hover ul
{
    display: block;
    width: 100%;    
} 

.logo
{
    height: 12rem;
    
    color: white;
    font-size: 2rem;    
    margin-left: 2rem;
}
@media(min-width:768px)
{
    .icono
    {
        display:none;
    }
    
    nav
    {
        transform: translateX(0%);
        width: auto;
        height: auto;
        flex-direction: row;
        position: relative;
        top: 0rem;
        background: none;
        margin-right: 0.5rem;
    }    
    nav a
    {
        border: 0rem;
        color: black;
    }
    nav a:hover
    {
        background-color: white;
    }
    ul 
    {
        position: absolute;
        top: 4rem;
        left: -2.5rem;
        flex-direction: column;
        align-items: center;
        
    }
    
    
    
    
}
.auxiliar
{
    
    background-image: url(../img/fondo.jpg);
    
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:inherit;
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 32rem;
    margin-bottom: 1rem;
    
    
    
}
.aux
{  
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;  
    align-items:center;  
    justify-content:center;

}
.aux h2
{
    color:var(--blanco)


}

.auxiliarCero
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    
}


.nuevoaux
{
    display: flex;
    flex-direction: column;
    
}
.nuevoaux p
{
    color: transparent;
    
}

.nuevoaux .espacio
{
    color: var(--blanco);
}
.auxiliar button
{
    background-color: var(--secundario);  
    color: var(--blanco);
    padding: 0.5rem 2rem;  
    border-radius: 0.5rem ;
    border: 0.1rem;
    font-weight: bolder;
    font-size: 1.5rem;
    justify-content: center;
}


main
{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, .2), 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius:1rem;
    
    background-color: var(--blanco);    
    margin-bottom: 2rem; 
}

/*Formulario de inicio de sesión*/
.div
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.divformulario
{
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white(255, 0, 0, 0.356);
    color:var(--oscuro);
    max-width: 302px;
    width: 95%;   
    margin-bottom: .1rem;    
    border-radius: 1rem;
}
h2
{
    color: var(--oscuro);
}
.formulario
{
    margin: auto;
    margin-bottom: 2rem;
}

.formulario input
{
    width: 15rem;
    border-radius: .4rem;
}
.formulario label
{
    width: 15rem;
    color: var(--oscuro);
}
.botonEnviar{
    color: var(--blanco);
    background-color: var(--oscuro);
    border-radius: .5rem;
    margin-top: .1rem;
    margin-bottom: .5rem;
}
@media (min-width:280px) 
{
   
    .formulario
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: .3rem;        
    }
    
}

.luna
{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.projo
{
 color:red;
 width: 17rem;
 text-align: right;
}
.p
{
    color:var(--oscuro);
    width: 76rem;    
    text-align: left;
    
}
.divinfoM
{
    display: flex;
    
   justify-content: center;
    align-items: center;
    justify-content: center;
}
.divinfo
{
    display: flex;
    flex-direction: row;
    width: 43rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
}

.divSecctions{
    display: flex;
    flex-direction: column;
    justify-content: center;
   text-align: center;
}
.fotorama
{    
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:inherit;
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 32rem;
    
    margin-bottom: 1rem;
}
.extra
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
   
}

.extra h2
{
    
    text-align: center;
   
    
}
.extra p
{
    text-align: center;
}
.divtext
{
    display: flex;
    
    text-align: justify;
}
.contenido
{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
@media (min-width:1000px)
{
.contenido{flex-direction: row;} 
}

.section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 30rem;
    
}
.uno h2
{
    color: var(--secundario);
    font-size: medium;
    font-weight:normal;
}
.deposito
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primario);
    width: 30rem;
    height: 15rem;
    margin-bottom: 3rem;
    border-radius: 1rem;

}
.redondodos
{
   
    background-color: var(--primario);
    display: flex;
    height: 15rem;
    width: 15rem;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius:1rem;
    margin-bottom: 2rem;

}
.asistenteDos 
{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.abuelo
{
    display:flex;
    flex-direction: column;

    
    
   
    
    max-width: 350px;
    width: 95%;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color:var(--gris);
    
}
.abuelo h2
{
    color:var(--primario);
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;

}
.gridContainer
{   
   
    padding: 1rem;
    background-color:var(--gris);   
    border-radius:1rem ;
    margin-bottom: 1rem;
   
    
}
.gridContainer div
{
    
    border-radius: 0.5rem;
}

.gridContainer label
{
    color: var(--blanco);
    font-weight: bolder;
}
.gridContainer .campos
{
    border-radius: 0.5rem;
    height: 3.5rem;
    width: 100%;
   
}
.inputMensaje
{    
    width: 100%;
    height: 8rem;
    margin-bottom: 1rem;
    width: 100%;
}
.inputMensaje .inputMensaje2
{
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}
.boton
{
    height: 3rem;
}
.boton .boton2
{
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    color:var(--blanco);
    font-weight: bolder;
    background-color: var(--secundario);
}

@media(min-width:280px){
    .gridContainer
    {
        display: flex;
        flex-direction: row;
        
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .nombre
    {
        flex: 0 0 calc(50% - 0.1rem);
    }
    .telefono
    {
        flex: 0 0 calc(50% - 0.1rem);
    }
    .inputNombre{
        flex: 0 0 calc(50% - 0.1rem);
    }
    .inputTelefono
    {
        flex: 0 0 calc(50% - 0.1rem);
    }
    .correo
    {
        flex: 0 0 calc(100% - 1rem);
    }
    .inputCorreo
    {
        flex: 0 0 calc(100% - 0.1rem);
    }
    .mensaje
    {
        flex: 0 0 calc(100% - 1rem);
    }
    .inputMensaje
    {
        flex: 0 0 calc(100% - 0rem);
    }
    .boton
    {
        flex: 0 0 calc(100% - 0rem);
    }
}

/*@media(min-width:480px){
   
    .gridContainer
    {        
        display: grid;       
        grid-template-columns:repeat(2,1fr); 
        
        
    }
    .correo
    {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .inputCorreo
    {
        grid-column: 1/3;
        grid-row: 4/5;
    }    
   .mensaje
   {
       grid-column:1/3 ;
       grid-row: 5/6;       
   }
   .inputMensaje
   {    
       grid-column: 1/3;
       grid-row: 6/7;       
   }
   .boton
   {
       grid-column: 1/3;
       grid-row: 7/8;
   } 
}*/

/*@media(min-width:768px){
   
    .gridContainer
    {        
        display: grid;          
        grid-template-columns:repeat(2,1fr);             
    }
    .correo
    {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .inputCorreo
    {
        grid-column: 1/3;
        grid-row: 4/5;
    }    
   .mensaje
   {
       grid-column:1/3 ;
       grid-row: 5/6;       
   }
   .inputMensaje
   {    
       grid-column: 1/3;
       grid-row: 6/7;       
   }
   .boton
   {
       grid-column: 1/3;
       grid-row: 7/8;
   } 
}*/
.findex
{
    display: flex;
    justify-content: center;
}
.footer
{    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--aluminio);  
    background-color: var(--oscuro); 
}
.footer a
{
    
    color:var(--aluminio);
    text-decoration: none;
}
